/* nav bar design */
.navbar{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/image-hero-desktop.jpg);
    height: 400px;
    background-repeat: no-repeat;
}
button{
    width: 183px;
    height: 55px;
}
.btn-img-position{
    position: absolute;
    /* left: 18%; */
}
.btn{
    border-radius: 35px;
}
.bamboo{
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 320px;
    width: 65%;
    background-color: white;
}
.backers-count{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#file{
    width: 100%;
}
.count-levels{
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin-top: 120px;
    border-radius: 8px;
}
.about{
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}
.heading-sect{
    display: flex;
    justify-content: space-between;
}
.about-bamboo-stand{
    border: solid 0.5px gray;
    border-radius: 8px;
}
.lower-part{
    display: flex;
    justify-content: space-between;
}
.about-bamboo-stand{
    padding: 40px;
    margin-bottom: 30px;
}
.main-context{
    padding: 0px 224px;
}
.bamboo-logo-img{
    position: absolute;
    top: -15%;
    left: 50%;
}
.selection-modal{
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 0.2);
    padding: 5px 20px;
    margin-top: 30px;
    border-radius: 8px;
    position: absolute;
    top: 290px;
    background-color: white;
    width: 68%;
}
.selection{
    padding: 0px 224px;
    
}
#success{
    box-shadow: 0 0px 10px 0px rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: 40px 16px;
    border-radius: 8px;
    display: none;
}
.success{
    padding: 0px 400px;
}
#selection{
    display: none;
}